<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.zhouxi.iot">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.NFC"/>

    <application
        android:name=".IoTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DefaultAppTheme">

        <activity android:name=".ModeSwitchActivity"
            android:theme="@style/DefaultTransparentTheme">

        </activity>

        <activity android:name=".MainActivity"/>

        <activity android:name=".SettingActivity"
            android:label="@string/settings" />

        <activity android:name=".FindServerActivity"
            android:label="@string/find_servers"/>

        <activity android:name=".nfc.OpenDoorActivity"
            android:label="@string/open_door_title">
        </activity>

        <activity android:name=".nfc.TestActivity"
            android:launchMode="singleTop"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <!--<service-->
            <!--android:name=".nfc.MyHostApduService"-->
            <!--android:exported="true"-->
            <!--android:permission="android.permission.BIND_NFC_SERVICE" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />-->
            <!--</intent-filter>-->

            <!--<meta-data-->
                <!--android:name="android.nfc.cardemulation.host_apdu_service"-->
                <!--android:resource="@xml/apduservice" />-->
        <!--</service>-->

    </application>

</manifest>